@import "../../../../styles.scss";

.button {
  text-decoration: none;
  border: none;
  background-color: $primary-background-color;
  border-radius: 3px;
  width: 128px;
  height: 40px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8.8px;
  text-align: center;
}

.button-for-modal {
  text-decoration: none;
  border: none;
  background-color: $primary-background-color;
  border-radius: 3px;
  width: 68px;
  height: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8.8px;
  text-align: center;
}

p {
  margin: 0;
  font-size: 14px;
}
