<div class="form-modal-container"
     *ngIf="isOpen"
     [@fadeInOut]>
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <div *ngIf="step === 1"
         class="first-step-container">
      <label for="sojournIdentifier">Indiquez votre identifiant</label>
      <input id="sojournIdentifier"
             type="text"
             formControlName="sojournIdentifier"
             placeholder="Identifiant">
      <button class="button-next-step"
              (click)="onSubmit()"
              [disabled]="!loginForm.get('sojournIdentifier')?.value">
        <p>Suivant</p>
      </button>
    </div>
    <div *ngIf="step === 2"
         class="second-step-container">
      <label for="password"> Entrez le mot de passe pour la chambre {{loginForm.get('sojournIdentifier')?.value}} <span class="edit-icon"

        (click)="onEditsojournIdentifier()"
        (onkeydown.enter)="onEditsojournIdentifier()"
        role="button" tabindex="0">&#9998;</span>
      </label>
      <div *ngIf="invalidLogin"
           class="error-message"> Numéro d'identifiant ou mot de passe ne correspondent pas. </div>
      <div id="password"
           class="password-container">
        <div class="password-dot"
             *ngFor="let i of [0, 1, 2, 3]">
          <span *ngIf="i < (loginForm.get('password')?.value.length || 0)"
                class="filled"></span>
          <span *ngIf="i >= (loginForm.get('password')?.value.length || 0)"
                class="empty"></span>
        </div>
      </div>
      <div id="digipad">
        <div *ngFor="let key of keys"
             class="key"
             [class.action]="key.type === 'action'"
             (click)="key.type === 'number' ? onKey(key.value) : key.value === 'erase' ? onErase() : onSubmit()"
             (keydown.enter)="key.type === 'number' ? onKey(key.value) : key.value === 'erase' ? onErase() : onSubmit()"
             role="button" tabindex="0">
          <span [innerHTML]="getKeyDisplay(key)"></span>
        </div>
      </div>
    </div>
  </form>
</div>
