<div id="main-container">
    <div id="container">
        <div id="sections">
            Sections
            <div class="layout">
                <div>
                    @for (section of sections; track $index) {
                        <app-admin-services-generic-card [infos]="section" [image]="section.image">
                        </app-admin-services-generic-card>
                        <div (click)="getCategoriesBySection(section.id)">
                            <div>></div>
                        </div>
                        <span (click)="openModal(section, typeSection)" class="material-symbols-outlined">edit</span>
                        <span (click)="deleteSection(section.id)" class="material-symbols-outlined">delete</span>  
                    }
                </div>
            </div>
        </div>
        <div id="categories">
            Catégories
            <div class="layout">
                <div>
                    @for (category of categories; track $index) {                       
                        <app-admin-services-generic-card [infos]="category" [image]="category.urlImage">
                        </app-admin-services-generic-card>
                    
                        <div (click)="getAccommodationsByCategory(category.id)">
                            <div>></div>
                        </div>
                        <span (click)="openModal(category, typeCategory)" class="material-symbols-outlined">edit</span>
                        <span (click)="deleteCategory(category.id)" class="material-symbols-outlined">delete</span>
                    }
                </div>
            </div>
        </div>
        <div id="accommodations">
            Produits
            @for (accommodation of accommodations; track $index) {
                <app-admin-services-generic-card
                    [infos]="accommodation"
                     [image]="accommodation.image"
                ></app-admin-services-generic-card>
                <span (click)="openModal(accommodation, typeAccommodation)" class="material-symbols-outlined">edit</span>
                <span (click)="deleteAccommodation(accommodation.id)" class="material-symbols-outlined">delete</span>
            }
        </div>
    </div>
</div>


<app-modal
title="Modifier les informations"
[showModal]="isModalOpen"
(closeModalEvent)="isModalOpen = false"
> 
<div>
    <div>
        <label for="name">Nom</label>
        <input
            type="text"
            id="name"
            [(ngModel)]="infos.name"
        />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea
            id="description"
            [(ngModel)]="infos.description"
        ></textarea>
    </div>
    <div>
        <label for="image">Image</label>
        <input
            type="text"
            id="image"
            [(ngModel)]="image"
        />
    </div>
    <div *ngIf="infos.price">
        <label for="price">Prix</label>
        <input type="number" id="price" [(ngModel)]="infos.price">
    </div>
    <div>
        <button (click)="updateInfos()">
            Mettre à jour
        </button>
    </div>
</div>
</app-modal>