<div id="main-container">
    <div id="container">
        <div id="sections">
            Sections
            <div class="layout">
                <div>
                    <button (click)="openModal('newSection', null)">
                        Nouvelle section
                    </button>
                </div>
                <div>
                    @for (section of sectionsWithImage; track $index) {
                        <app-admin-services-generic-card
                            [infos]="section"
                            [image]="section.urlImage"
                        >
                        </app-admin-services-generic-card>
                        <div (click)="getCategoriesBySection(section.id)">
                            <div class="chevron">></div>
                        </div>
                        <span
                            (click)="openModal('updateSection', section)"
                            class="material-symbols-outlined"
                            >edit</span
                        >
                        <span
                            (click)="deleteSection(section.id)"
                            class="material-symbols-outlined"
                            >delete</span
                        >
                    }
                </div>
            </div>
        </div>
        <div id="categories">
            Catégories
            <div class="layout">
                <button (click)="openModal('newCategorie', null)">
                    Nouvelle catégorie
                </button>
                <div>
                    @for (category of categoriesWithImage; track $index) {
                        <app-admin-services-generic-card
                            [infos]="category"
                            [image]="category.urlImage"
                        >
                        </app-admin-services-generic-card>

                        <div (click)="getAccommodationsByCategory(category.id)">
                            <div class="chevron">></div>
                        </div>
                        <span
                            (click)="openModal('updateCategory', category)"
                            class="material-symbols-outlined"
                            >edit</span
                        >
                        <span
                            (click)="deleteCategory(category.id)"
                            class="material-symbols-outlined"
                            >delete</span
                        >
                    }
                </div>
            </div>
        </div>
        <div id="accommodations">
            Produits
            <div class="layout">
                <button (click)="openModal('newAccommodation', null)">
                    Nouveau produit
                </button>
                <div>
                    @for (
                        accommodation of accommodationsWithImages;
                        track $index
                    ) {
                        <app-admin-services-generic-card
                            [infos]="accommodation"
                            [image]="accommodation.urlImage"
                        ></app-admin-services-generic-card>
                        <span
                            (click)="
                                openModal('updateAccommodation', accommodation)
                            "
                            class="material-symbols-outlined"
                            >edit</span
                        >
                        <!--  <span
                            (click)="deleteAccommodation(accommodation.id)"
                            class="material-symbols-outlined"
                            >delete</span
                        >-->
                    }
                </div>
            </div>
        </div>

        <app-modal
            title="{{
                openModalForCreation
                    ? 'Créer ' + typeForDisplay
                    : 'Modifier les informations'
            }}"
            [showModal]="isModalOpen"
            (closeModalEvent)="closeModal()"
        >
            <app-admin-service-form
                [openModalForCreation]="openModalForCreation"
                [infos]="infos"
                [imageUrl]="imageUrl"
                [typeForDisplay]="typeForDisplay"
                [typeForChoice]="typeForChoice"
                (closeModal)="closeModalOnSubmit()"
            ></app-admin-service-form>
        </app-modal>
    </div>
</div>
