<nav class="vertical-navbar">
    <h1>{{adminFirstname}}</h1>
    <ul>
        <li>
            <a routerLink="/admin/purchases">
                <span class="material-symbols-outlined">shopping_cart</span>
                <span class="nav-text">Commandes</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/accomodations">
                <span class="material-symbols-outlined">list_alt</span>
                <span class="nav-text">Services proposés</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="material-symbols-outlined">note_alt</span>
                <span class="nav-text">Informations</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="material-symbols-outlined">key</span>
                <span class="nav-text">Chambres</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="material-symbols-outlined">note_alt</span>
                <span class="nav-text">Carousel</span>
            </a>
    </ul>
</nav>