.login {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .hotel-container {
    position: absolute;
    height: 110px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hotel-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
      justify-content: center;
    }

    .hotel-title {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .login-card {
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 50%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8.8px;
    max-width: 600px;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 300px;
        gap: 10px;
        max-width: 100%;

        label {
          display: flex;
          justify-content: center;
          color: black;
          font-weight: 500;
        }

        .input-field {
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8.8px;
          border: none;
          background-color: white;
          height: 35px;
          width: 100%;
        }

      }

      .btn-container {
        padding-top: 20px;
        display: flex;
        width: 70%;
        justify-content: flex-end;
      }

      .error-message {
        position: absolute;
        top: 65%;
        width: 50%;
        font-size: 12px;

        p {
          text-align: center;
          color: #bd0c0c;
          font-weight: 500;
        }
      }
    }
  }
}

.invalid {
  border: 1px solid #bd0c0c !important;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}