<section class="global-container">
  <form #sojournForm="ngForm"
        (ngSubmit)="onSubmit()">
    <div class="forms">
      <div class="label-and-input">
        <label for="entryDate">Date d'entrée</label>
        <input name="entryDate"
               [(ngModel)]="sojourn.entryDate"
               type="date"
               #entryDate="ngModel"
               required />
        <div *ngIf="entryDate.invalid && (entryDate.dirty || entryDate.touched)">
          <div class="error-length-required"
               *ngIf="entryDate.errors?.['required']"> La date d'entrée est requise. </div>
        </div>
      </div>
      <div class="label-and-input">
        <label for="exitDate">Date de sortie</label>
        <input name="exitDate"
               [(ngModel)]="sojourn.exitDate"
               type="date"
               #exitDate="ngModel"
               required />
        <div *ngIf="exitDate.invalid && (exitDate.dirty || exitDate.touched)">
          <div class="error-length-required"
               *ngIf="exitDate.errors?.['required']"> La date de sortie est requise. </div>
        </div>
      </div>
      @if (isCreateSojourn) {
        <div class="label-and-input">
          <label for="client">Client</label>
          <select name="client"
                  [(ngModel)]="sojourn.clientId"
                  #client="ngModel"
                  required>
            <option *ngFor="let client of clients"
                    [ngValue]="client.id">{{client.firstName}} {{client.lastName}}</option>
          </select>
          <div *ngIf="client.invalid && (client.dirty || client.touched)">
            <div class="error-length-required"
                 *ngIf="client.errors?.['required']"> Un client est requis. </div>
          </div>
        </div>
        <div class="label-and-input">
          <label for="room">Chambre</label>
          <select name="room"
                  [(ngModel)]="sojourn.roomRole"
                  #room="ngModel"
                  required>
            <option *ngFor="let room of availableRooms"
                    [ngValue]="room.role">{{room.roomNumber}}</option>
          </select>
          <div *ngIf="room.invalid && (room.dirty || room.touched)">
            <div class="error-length-required"
                 *ngIf="room.errors?.['required']"> Une chambre est requise. </div>
          </div>
        </div>
      }
      <!-- <button type="submit" [disabled]="!sojournForm.valid">Enregistrer le séjour</button> -->
       <!-- Rajouter type sur le compo BTN ou sortir le btn du form -->
      <app-button #cancelBtn
                  action="annuler"
                  click="clearForm()" />
      <app-button #submitBtn
                  action="valider"
                  [hidden]="sojournForm.invalid"
                  click="onSubmit()" />
    </div>
  </form>
</section>