#main_container {
    display: flex;
}

#image_container {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 5px;
}

#infos_container {
    margin-left: 10px;
    font-size: smaller;
}

.name {
    font-weight: bold;
}
