@import "../../../../styles";

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    background-color: #F6F6F6;
    float: right;
    border-bottom: 5px solid white;
}

#purchases-container {
    width: 100%;
    h4, p {
        margin: 0;
    }
}
#accommodations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

#accommodation-infos, #total-accomodation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
}