<section class="main-container">
    <div class="infos-container">
     <h3>
        Facture n° {{ bill.id }}
        
     </h3>
     <p>
        du {{ bill.date| date: 'dd/MM/yyyy'}}
     </p>
     <p>
        Chambre {{ bill.roomNumber }}
     </p>
     <p class="price">
       Total des commandes : {{ bill.totalPrice | currency: 'EUR' }}
     </p>
    </div>
    <div class="icons-container" (click)="openDetail()">
            <span class="material-symbols-outlined">
                search      
                <p>
                    Voir
                </p>
            </span>
        <span class="material-symbols-outlined">
            cancel
            <p>
                Annuler
            </p>
        </span>
    </div>
</section>
<section id="purchases-main-container" *ngIf="openDetailSwitch">
    <div id="customer-infos-container">
        <h4>Informations client</h4>
        <p>{{ bill.client.firstName }} {{ bill.client.lastName }}</p>
        <p>{{ bill.client.email }}</p>
        <p>{{ bill.client.phoneNumber }}</p>
    </div>
    <div id="purchases-container">
        @for (purchase of bill.purchasesForBillDTO; track $index) {
    <app-admin-purchase-detail [purchase]="purchase"></app-admin-purchase-detail>
}

    </div>
</section>
