.config-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;

  .config-header {
    color: white;
    background-color: #BD9E56;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }
  }

  .config-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 30px;

    .steps {
      display: flex;
      margin-top: 50px;
      align-items: center;
      gap: 3px;

      .step-round {
        width: 40px;
        height: 40px;
        background-color: #8391AA;
        border-radius: 50px;
        gap: 3px;
      }

      .step-line {
        width: 77px;
        height: 10px;
        background-color: #8391AA;
      }

      .step-line-checked {
        width: 77px;
        height: 10px;
        background-color: #BD9E56;
      }

      .step-round-checked {
        width: 40px;
        height: 40px;
        background-color: #BD9E56;
        border-radius: 50px;
        gap: 3px;
      }
    }

    .config-body {
      margin-top: 40px;

      h2 {
        font-size: 24px;
        font-weight: bold;
      }

      .add-button {
        width: 115px;
        height: 115px;
        background-color: #BD9E56;

        .button-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          height: 100%;
          width: 100%;
          font-size: xxx-large;
        }
      }

      .hotel-name {
        margin-top: 30px;
        width: 495px;
        height: 57px;
      }

      .config-colors {
        display: flex;
        width: 500px;
        gap: 32px;

        .colors-container {

          .color-hex {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 18px;
            border: 1px solid black;

            .color-input {
              width: 30px;
              height: 30px;
              border: none;
              background: transparent;
              border-right: 1px solid black;
            }

            .text-input {
              border: none;
            }
          }
        }
      }
    }

    .file-name {
      margin-top: 20px;
    }

    .config-button {
      display: flex;
      margin-top: 50px;
      gap: 30px;
    }

    .config-confirmation {
      font-size: 24px;
      margin-top: 40px;

      .confirmation-text {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        gap: 8px;

        img {
          width: 80px;
          height: 80px;
        }

        .confirmation-colors {
          display: flex;
          padding-left: 12px;
        }

        .color-input {
          width: 30px;
          height: 30px;
          border: none;
          background: transparent;
        }
      }
    }
  }
}