<section class="global-container">
  <form #form="ngForm"
        (ngSubmit)="onSubmit(form)">
    <div class="forms">
      <div class="label-and-input">
        <label for="lastName"> Nom de l'employé(e) </label>
        <input name="lastName"
               [(ngModel)]="model.lastName"
               type="text"
               placeholder="Entrez le nom"
               #lastName="ngModel"
               required
               minlength="2" />
        <div *ngIf="lastName.invalid && (lastName.pristine || lastName.touched)">
          <div class="error-length-required"
               *ngIf="lastName.errors?.['required']"> Le nom est requis. </div>
          <div class="error-length-required"
               *ngIf="lastName.errors?.['minlength']"> le nom doit contenir plus de 2 caractères </div>
        </div>
      </div>
      <div class="label-and-input">
        <label for="firstName"> Prénoms de l'employé(e) </label>
        <input name="firstName"
               [(ngModel)]="model.firstName"
               required
               minlength="2"
               type="text"
               #firstName="ngModel"
               placeholder="Entrez le(s) prénom(s)" />
        <div *ngIf="firstName.invalid && (firstName.pristine || firstName.touched)">
          <div class="error-length-required"
               *ngIf="firstName.errors?.['required']"> Le prénom est requis. </div>
          <div class="error-length-required"
               *ngIf="firstName.errors?.['minlength']"> le prénom doit contenir plus de 2 caractères </div>
        </div>
      </div>
      <div class="label-and-input">
        <label for="roles"> Role de l'employé(e) </label>
        <select name="roles"
                #roleList="ngModel"
                [(ngModel)]="model.roles[0]"
                required
                >

                @for (role of roles; track $index) {
                  <option [ngValue]="role" required >{{ getRoleName(role.name) }}</option>
                }
        </select>
        <div class="error-length-required" *ngIf="roleList.invalid && (roleList.dirty || roleList.touched)"></div>
        <div class="error-length-required"
             *ngIf="roleList.errors?.['required']"> Le rôle est requis. </div>

      </div>
      <div class="password-input label-and-input">
        <label for="password"> Mot de passe </label>
        <div class="password-input-wrapper">
          <input name="password"
                 [(ngModel)]="model.password"
                 required
                 minlength="6"
                 #password="ngModel"
                 class="contain"
                 type="{{ showPassword ? 'text' : 'password' }}"
                 placeholder="Entrez votre mot de passe" />
          <div class="material-symbols-outlined eye"
               (click)="togglePasswordVisibility()"> {{ text }} </div>
          <div class="error-length-required"
               *ngIf="password.invalid && (password.pristine || password.touched)">
            <div class="error-length-required"
                 *ngIf="password.errors?.['required']"> Le mot de passe est requis. </div>
            <div class="error-length-required"
                 *ngIf="password.errors?.['minlength']"> le mot de passe doit contenir plus de 6 caractères </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="button-alignement">
    <app-button action="annuler"
                (click)="resetForm()"/>
    <app-button action="valider"
                (click)="onSubmit(form)"
                />
  </div>
</section>