@import "../../../../../src/styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-height: 100%;
  margin: auto;
  padding: 3% 0;
  margin-bottom: 15px;
  background-color: #fdfbf5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8.8px;
  border-radius: 5px;
  .forms {
    min-width: 318px;
    max-width: 400px;
  }

  form {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    .label-and-input {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 15px;
      font-weight: 500;

      input,
      select {
        height: 30px;
        width: 100%;
        border: none;
        background-color: #f6f6f6;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8.8px;
      }
    }
  }
}

.button-alignement {
  display: flex;
  justify-content: space-between;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.error-length-required {
  font-size: small;
  font-weight: 300;
  color: red;
}

.password-input-wrapper {
  position: relative;
}
.password-input {
  display: flex;
  position: relative;
}

.eye {
  position: absolute;
  top: 9px;
  right: 7px;
  cursor: pointer;
  font-size: 15px;
}
