:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 628px;
  padding-top: 50px;
  padding-bottom: 50px;

  .buttons {
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding-top: 3rem;
    width: 100%;
  }

  #cardsForCategory {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 105%;
    justify-content: center;
  }
}