:host {
  display: flex;
  flex-direction: column;
  height: 87%;
  flex: auto;
}

.section-global {
  display: flex;
  flex-direction: column;
  height: 94%;
  padding-bottom: 50px;

  .buttons {
    justify-content: space-between;
    list-style: none;
    display: flex;
    width: 100%;
    margin-left: 6rem;
  }

  #cardsForCategory {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 90%;
    justify-content: center;
  }
}