<section class="login">
  @if (hotel) {
    <div class="hotel-container">
      <img src="{{hotelImageUrl}}" alt="hôtel logo" class="hotel-img">
      <h2 class="hotel-title">{{hotel.name}}</h2>
    </div>
  }
  <div class="login-card">
    <div class="container">
      <div class="input-container">
        <label for="">Numéro d'utilisateur</label>
        <input type="number"
               [(ngModel)]="serialNumber"
               [ngClass]="{'invalid' : isNotLoggedIn}"
               class="input-field" />
      </div>
      <div class="input-container">
        <label for="">Mot de passe</label>
        <input type="password"
               [(ngModel)]="password"
               [ngClass]="{'invalid' : isNotLoggedIn}"
               class="input-field">
      </div>
      <div class="btn-container">
        @if (hotel) {
          <app-button action="valider" (click)="login()" [disabled]="!canValidate" [btnBackground]="hotel.colors[0]" [txtColor]="hotel.colors[1]"/>
        }@else {
          <app-button action="valider" (click)="login()" [disabled]="!canValidate"/>
        }
      </div>
      <div *ngIf="isNotLoggedIn"
           class="error-message">
        <p>Le numéro d'utilisateur et/ou le mot de passe est incorrect</p>
      </div>
    </div>
  </div>
</section>