@import '../../../../styles.scss';

:host {
  height: 100%;
  display: block;
  width: 100%;
}

.cart {
  max-width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;

  h1 {
    color: var(--primary-background-color);
    font-family: Satisfy;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
  }
  p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    text-align: start;
  }

  .bold {
    font-weight: bold;
  }

  .columns {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 1rem;

    .centerded-p {
      text-align: center;
    }
    .right-p {
      text-align: end;
    }
    .quantity {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .tertiary {
      color: var(--tertiary-background-color);
    }
  }

  .golden-text {
    color: var(--primary-background-color);
  }

  .golden-border {
    border-bottom: 3px solid var(--secondary-background-color);
  }

  .scrollable {
    overflow-y: auto;
    height: 70%;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }
}
