@import "../../../../src/styles.scss";

nav {
    height: 290px;
    background: rgb(0,38,84);
    background: linear-gradient(135deg, rgba(0,38,84,1) 0%, rgba(0,38,84,1) 035%, rgba(16,68,147,0) 100%);
}

.infos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    font: Montserrat;

    .logo img {
        width: 40px;
        height: 40px;
    }
    .room-number, .guest-name { 
        color: $main-text-color;
    }
    .role {
        color: $secondary-text-color;
    }
}