<p>navbar works!</p>
<nav>
    <div class="infos-container">
        <div class="logo">
            <img src="assets/logo_luxiergerie.png" alt="Le logo de l'hotel">
        </div>
        <div class="room-number">
            <p>Chambre 512</p>
        </div>
        <div class="guest-name">
            <p>John Doe</p>
        </div>
        <div class="role">
            <p>GOLD</p>
        </div>
        <div class="connection">
            <button>Se déconnecter</button>
        </div>
    </div>

</nav>