<section class="global-section">
  <section class="head-section">
    <div class="add-sojourn-container">
      <div>
        <h3>Ajouter une chambre</h3>
      </div>
      <div class="add-button"
           (click)="openRoomModal()"
           title="Ajouter une chambre">
        <span class="button-icon">+</span>
      </div>
    </div>
    <div>
      <h3>Liste des chambres</h3>
    </div>
    <div>
    </div>
  </section>
  <section class="list-section">
    @for (room of rooms; track $index) {
      <div class="container">
        <div class="card-container">
          <h4 class="title">Chambre : {{room.roomNumber}}</h4>
          <p class="name">Etage : {{room.floor}}</p>
          <p class="name"
            *ngIf="room.role"> Gamme : {{getRoleName(room.role.name)}}</p>
            @if (room.client !== null) {
              <p class="name">Occupé par : {{room.client.firstName}} {{room.client.lastName}}</p>
            }@else {
              <p class="name">Chambre disponible</p>
            } @if (room.sojourns) {
              <div class="date-container" *ngIf="room.sojourns[0]">
                <p class="date">Séjour du :</p>
                <p class="date">{{room.sojourns[0].entryDate | date: 'dd/MM/yyyy'}}</p> au
                <p class="date">{{room.sojourns[0].exitDate | date: 'dd/MM/yyyy'}}</p>
              </div>
            }
        </div>
      <div class="button-container">
        <span class="button material-symbols-outlined" (click)="openEditModal(room)">edit</span>
        <span class="button material-symbols-outlined" (click)="deleteRoom(room.id)">delete</span>
      </div>
      </div>
    }
</section>
</section>
<app-modal title="Ajout d'une chambre"
           [showModal]="isModalOpen"
           (closeModalEvent)="closeCreateModal()">
  <section>
    <app-room-form (closeModal)="closeCreateModal()"
                   [isCreateRoom]="true" />
  </section>
</app-modal>
<app-modal title="Modification de la chambre"
           [showModal]="isUpdateModalOpen"
           (closeModalEvent)="closeUpdateModal()">
  <section>
    <app-room-form (closeModal)="closeUpdateModal()"
                   [isCreateRoom]="false"
                   [roomToUpdate]="selectedRoom" />
  </section>
</app-modal>