<section class="section-container">
  <div class="global-container">
    <table class="table-employee">
      <thead>
        <tr class="title-container">
          <td class="title">Nom</td>
          <td class="title">Prénoms</td>
          <td class="title">Identifiant</td>
          <td class="title">Role</td>
          <td class="title">Actions</td>
        </tr>
      </thead>
      <tbody class="list-employee-container">
        <tr class="ul-employee" *ngFor="let employee of employees">
          <td class="li-attribut">{{ employee.lastName }}</td>
          <td class="li-attribut">{{ employee.firstName }}</td>
          <td class="li-attribut">{{ employee.serialNumber }}</td>
          <td class="li-attribut">{{ getRoleName(employee.roles[0].name) }}</td>
          <td class="actions">
            <span class="action-icon" (click)="modify(employee.id)" title="Modifier l'employé(e)">✏️</span>
            <span class="action-icon" title="Supprimer l'employé(e)">❌</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal
  title="Modification de l'employé(e)"
  [showModal]="isModalOpen"
  (closeModalEvent)="isModalOpen = false"
>
  <app-register-employee [selectedEmployee]="selectedEmployee" [isCreateEmployee]="false" (closeModal)="closeModal()"></app-register-employee>
</app-modal>
