  /* Text colors */
    $primary-text-color: #FEFEFE;
    $secondary-text-color :#7AD7F0 ;

    /* Background colors */
    $primary-background-color: #BD9E56;
    $secondary-background-color: #8391AA;
    $tertiary-background-color: #642424;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


* {
  box-sizing: border-box;
}

body {
  display: block;
  height: 100vh;
  margin: 0;
  font-family: Montserrat, Open-Sans, sans-serif;
}