<section class="section-global">
  <div class="cards">
    <li *ngFor="let accommodation of accommodations">
      <app-accommodation [accommodation]="accommodation">
        <p>{{accommodation.reservable}}</p>
      </app-accommodation>
    </li>
  </div>
  <div class="buttons">
    <app-button action='précédent' />
    @if (hotel) {
      <app-button action='confirmer'
                [btnBackground]="hotel.colors[0]"
                [txtColor]="hotel.colors[1]" />
    } @else {
      <app-button action='confirmer' />
    }
  </div>
</section>