body {
  overflow: hidden;
}

.hotel-container {
  background-color: #F6F6F6;
  width: 90%;
  display: block;
  margin: auto;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 0;
  overflow: auto;
  display: block;
  height: 80vh;

  .container-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}