<h2>1. Introduction</h2>
<p>
  Bienvenue sur Luxiergerie. Nous accordons une grande importance à la confidentialité de vos données personnelles. Cette politique de confidentialité décrit
  les types de données que nous collectons, comment nous les utilisons, les mesures que nous prenons pour les protéger et vos droits en matière de protection
  des données.
</p>
<h2>2. Responsable du Traitement des Données</h2>
<p>Le responsable du traitement des données à caractère personnel est : Luxiergerie Adresse : BugBusters 75000 Paris Email : bugbusters&#64;mail.fr</p>
<h2>3. Données Collectées</h2>
<p>
  Nous collectons et traitons différentes catégories de données personnelles vous concernant, notamment : • Données d'identification : nom, prénom, adresse
  e-mail, numéro de téléphone. • Données transactionnelles : informations relatives aux achats effectués via notre plateforme.
</p>
<h2>4. Finalités du Traitement</h2>
<p>
  Les données collectées sont utilisées pour : • Vous fournir les services et fonctionnalités de Luxiergerie. • Gérer votre compte utilisateur. • Traiter vos
  commandes et paiements. • Améliorer notre service en analysant les comportements des utilisateurs.
</p>
<h2>5. Base Légale du Traitement</h2>
<p>
  Le traitement de vos données personnelles est basé sur les fondements suivants : • Exécution d'un contrat : pour fournir les services que vous avez demandés.
  • Intérêt légitime : pour améliorer nos services et assurer la sécurité de notre plateforme. • Obligation légale : pour respecter nos obligations légales.
</p>
<h2>6. Partage de vos Données</h2>
<p>
  Vos données personnelles peuvent être partagées avec : • Prestataires de services : pour le traitement des paiements, l'hébergement, l'envoi de courriels,
  etc. • Autorités légales : en cas de réquisition par une autorité judiciaire ou administrative.
</p>
<h2>7. Sécurité de vos Données</h2>
<p>
  Nous mettons en place des mesures techniques et organisationnelles pour protéger vos données contre tout accès non autorisé, perte, altération ou destruction.
  Cependant, aucune transmission de données sur Internet n'est entièrement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos informations.
</p>
<h2>8. Vos Droits</h2>
<p>
  Vous disposez de plusieurs droits concernant vos données personnelles, notamment : • Droit d'accès : obtenir la confirmation que vos données sont traitées et
  accéder à ces données. • Droit de rectification : demander la correction de vos données personnelles. • Droit à l'effacement : demander la suppression de vos
  données personnelles. • Droit à la limitation du traitement : demander la limitation du traitement de vos données. • Droit d'opposition : vous opposer au
  traitement de vos données personnelles. • Droit à la portabilité : recevoir vos données dans un format structuré et couramment utilisé. Pour exercer ces
  droits, veuillez nous contacter à bugbusters&#64;mail.fr.
</p>
<h2>9. Cookies</h2>
<p>Luxiergerie utilise uniquement les cookies nécessaires au fonctionnement du site et pour améliorer l'expérience utilisateur.</p>
<h2>10. Modifications de cette Politique</h2>
<p>
  Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page, et si les
  changements sont significatifs, nous vous en informerons par email ou via une notification sur notre site.
</p>
<h2>11. Contact</h2>
<p>
  Si vous avez des questions concernant cette politique de confidentialité ou la manière dont nous traitons vos données personnelles, n'hésitez pas à nous
  contacter à : Email : bugbusters&#64;mail.fr Adresse : BugBusters 75000 Paris Luxiergerie s'engage à protéger votre vie privée et à traiter vos données
  personnelles de manière transparente et sécurisée. Nous vous remercions de votre confiance et restons à votre disposition pour toute question ou
  préoccupation.
</p>
